.homePage {
  background-color: #B0B4D4;
  min-height: 100vh;
  min-width: 100vw;
}

.siteTitle {
  color: #ffffff;
  font-weight: bold;
}

.homeAppBar {
  background-color: #B0B4D4;
  box-shadow: none;
}

.loginButton {
  font-weight: bold;
  font-size: medium;
}

.signupButton {
  font-weight: bold;
  font-size: medium;
}

.motto {
  margin-top: 30vh;
  margin-left: 10vw;
  font-size: 50px;
  color: #ffffff;
  min-width: 95px;
  overflow-wrap: break-word;
}

.reporter {
  width: 100vw;
  text-align: center;
  margin-top: 30vh;
  font-size: 25px;
  font-weight: 100;
  color: #ffffff;
}