
.card {
  margin: 1px 2%;
  /* margin-left: 2%;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 2%; */

}
.dateBox {
  display: flex;
}

.date {
  margin-top: 0.6%;
  /* margin-left: 8.5%; */
  /* margin-bottom: 1%; */
  font-weight: 400;
  font-size: 0.8em;
  /* font-style: italic; */
  /* line-height: 1.43; */
  letter-spacing: 0.01071em;
  /* color: #84C7D0; */
}

.timeBox {

  display: flex;
  border-bottom: 1px solid black;
  /* color: #F5F5F4; */
  font-size: .8em;
  padding-bottom: 2%;
}

.time {
  position: relative;
  margin-top: .5%;
}

.topBox {
  display: flex;
}

.title {
  line-height: 1.43;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #84C7D0;
  margin-left: 2%;
  font-size: 1.2em;
}


.circleIcon {
  color: #84C7D0;
}

.bottomBox {
  margin-top: 1%;
}

.subject {
  font-weight: 800;
  font-size: 1.25em;
  color: #84C7D0;
  /* text-align: center; */
}

.description {
  margin-bottom: 1%;
}

.mentor {
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 1%;
  color: #84C7D0;
  /* text-align: center; */
}
.zoomLink {
  margin-bottom: 3%;
}