
.card {
  margin: 1px 2%;
  /* margin-left: 2%;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 2%; */

}
.dateBox {
  display: flex;
}

.date {
  margin-top: 0.6%;
  /* margin-left: 8.5%; */
  /* margin-bottom: 1%; */
  font-weight: 400;
  font-size: 0.8em;
  /* font-style: italic; */
  /* line-height: 1.43; */
  letter-spacing: 0.01071em;
  /* color: #84C7D0; */
}

.timeBox {

  display: flex;
  border-bottom: 1px solid black;
  /* color: #F5F5F4; */
  font-size: .8em;
  padding-bottom: 2%;
}

.time {
  position: relative;
  margin-top: .5%;
}

.topBox {
  display: flex;
}

.title {
  line-height: 1.43;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #84C7D0;
  margin-left: 2%;
  font-size: 1.2em;
}


.circleIcon {
  color: #84C7D0;
}

.bottomBox {
  margin-top: 1%;
}

.subject {
  font-weight: 800;
  font-size: 1.25em;
  color: #84C7D0;
  /* text-align: center; */
}

.description {
  margin-bottom: 1%;
}

.mentor {
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 1%;
  color: #84C7D0;
  /* text-align: center; */
}
.zoomLink {
  margin-bottom: 3%;
}

/*       EDITOR STYLES         */
.editor {
  width: 5%;
  height: auto;
  margin-left: 2%;
}

.editor:hover {
  cursor: pointer;
}


.editChangesTopBox {
  display: flex;
  flex-wrap: nowrap;
  margin: 2% 2% 3% 2%;
  border-bottom: 1px solid black;
}

.editbottomBox {
  margin-top: 1px;
  display:flex;
  justify-content: space-between;
}

.editClassForm {
  margin: 0px 2%;
}

.editStackMargin {
  margin-top: 2%;
}

.editChangeTitle {
  line-height: 1.43;
  margin-bottom: 1%;
  margin-top: 0px;
  color: #84C7D0;
  margin-left: 2%;
  font-size: 1.2em;
}

.editChangesButton {
  background-color: #B0B4D4;
  margin: 2% 0 2% 0;
  width: 49%;
}

.editChangesButton:hover {
  background-color: #acb0cd;
}

.editDeleteButtonBox {
  display:flex;
  margin-left: 50%;

}

.editDeleteButton {
  margin-top: 0%;
  width: 90%;
  color: #4BD2D2;
}

.editDeleteButton:hover {
  cursor: pointer;
}

.editDeleteText {
  font-size: .69em;
  /* margin-top: 5%; */
}

.editDeleteConfirm {
  background-color: rgb(226, 118, 118);
  height: 2em;
  width: 100%;
}
.editDeleteConfirm:hover {
  background-color: red;
}

.editDeletePopover {
  margin: 10% 10% 10% 10%;
}
