html,
body {
  margin: 0;
}

a {
  color: #0070f3;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* CALENDAR STYLES */


/* .css-4plepo .MainLayout-ordinaryHeaderBorder {
  border-bottom: none;
} */

.css-pzc27e-MuiToolbar-root.Toolbar-toolbar {
  border-bottom: none
}

/* APPOINTMENT SCHEDULED BLOCK */
.css-3nejl.Appointment-appointment {
  background-color: #84C7D0
}

/*CALENDAR TODAY BTN*/
.css-xya8j6-MuiButtonBase-root-MuiButton-root {
  border: 1px solid #4BD2D2;
  color: #84C7D0;
}

/* .css-i4bv87-MuiSvgIcon-root {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
} */


/*Calendar Week Arrow*/
.css-71a9mb-MuiButtonBase-root-MuiIconButton-root {
  color:#84C7D0;
}

/*Calendar Week */
.css-vnscjq-MuiButtonBase-root-MuiButton-root {
  color: #84C7D0;
}

/*CALENDAR DAY OF WEEK */
.css-1ydj9ep-MuiTableCell-root .Cell-highlightedText {
  color: #84C7D0;
}

/*CALENDAR DAY OF MONTH */
.css-1ydj9ep-MuiTableCell-root .Cell-highlightedText {
  color: #4BD2D2;
  font-weight: bold;
}