.myProfileContainer {
  display: flex;
  flex-direction: column;
  word-wrap: normal;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 1em;
  border-radius: 1em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-width: 40vw;
  min-height: 40vh;
}

/* selected profile */
.selectedProfileContainer {
  display: flex;
  flex-direction: column;
  word-wrap: normal;
  text-align: center;
  align-items: center;
}

.selectedProfileContainer h2, .myProfileContainer h2 {
  font-size: 5vh;
  margin: 0px 0px;
  color: linear-gradient(0deg, rgba(132,199,208,1) 0%, rgba(176,180,212,1) 50%, rgba(176,180,212,1) 100%);
  background: -webkit-linear-gradient(#B0B4D4, #84C7D0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.selectedProfileContainer h3, .myProfileContainer h3 {
  font-size: 3vh;
  margin: 0px 0px;
  color: #B0B4D4
}

.selectedProfileContainer h4, .myProfileContainer h4 {
  font-size: 2vh;
  margin: 10px 10px;
}

.selectedProfileContainer p, .myProfileContainer p {
  font-size: 2vh;
  margin: 5px 5px;
}

.profileEndorsementSection {
  font-size: 2vh;
  margin: 0px 0px;
}

.endorsementUpdate:hover {
  cursor: pointer;
  color: #4BD2D2;
}

.editProfileDescription {
  cursor: pointer;
}